<p>My Cart</p>
<% @carted_products.each do |carted_product| %>
  <p><%= carted_product.product.name %>  Qty:<%= carted_product.quantity %>
<% end %>

<%= form_tag '/orders', method: :post do %>
  <input type='submit' value='Buy Now!'>   
<% end %>