// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: Geneva, Tahoma;
  background-image: url("vertical-waves.png");
}
.well img{
  width: 100%;
}