<p>Add Product</p>
<%= form_tag "/save-product", method: :post do%>
  <div>
    <p>Product Name:</p> <input type="text" name="name">
    <p>Price:</p> <input type="text" name="price">
    <p>Description:</p> <input type="text" name="description">
    <p>Image:</p> <input type="text" name="image">
  <div>
  <input type="submit">
  <%end%>